@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.certifications-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#certifications .certifications-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#certifications .certification-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows items to wrap if not enough space */
  gap: 20px; /* Adjust the space between certification boxes */
  margin-bottom: 20px; /* Space between rows */
}

#certifications .details-container {
  /* Style your containers (e.g., border, padding) */
  padding: 20px;
  border: 1px solid #ccc; /* Example styling */
  width: calc(50% - 10px); /* Adjust width as needed, accounting for gap */
}

#certifications .btn.btn-color-1 {
  /* Button styling */
  background-color: #007bff; /* Example primary color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block; /* To ensure proper button styling */
}

#certifications .btn.btn-color-1:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
